.container.container-custom
  = form_for :events, :url => {:controller => 'events', :action => 'join'} do
    = label_tag :join_tag, "Event Code:"
    = text_field_tag :j
    = button_tag 'Go' , class: 'join-button' , type: :submit
