.container.container-custom
  = form_for :events, :url => create_join_events_path do
    = label_tag :join_code, "Event Code:"
    = text_field_tag :join_code
    = button_tag 'Go' , class: 'join-button' , type: :submit

