.alert--cover {
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: 9;
}

.alert__container--fixed {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  padding: 15px;
}

.alert--fixed {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}
