/*
 *= require bootstrap-slider
 *= require_self
 */

@import 'settings';
@import 'alert';
@import 'events';
@import 'users';
@import 'playlist';
@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 54px;
  color: $dark;

  &.full-background {
    background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7)), image_url('full-background.jpg');
    background-position: center;
    background-size: cover;
    color: $brand-primary;
  }
}

.btn {
  margin: 0 4px 4px 0;
}

.container-custom {
  padding-top: 16px;
}

.alert ul {
  margin-bottom: 0;
}

img {
  width: 100%;
}

.btn-secondary {
  color: $dark;
  background-color: $light;
  border-color: $dark;
}

.flash-container {
  position: relative;
  z-index: 9;
}

.flash-display {
  margin-top: 16px;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    height: 40px;
  }

  .navbar-nav {
    text-align: right;
    padding-right: .75em;
  }
}

// this is automatically appended and causes styling issues
.field_with_errors {
  display: inline-block;
}

// Helpers
.bg-custom {
  background-color: $dark;
}

.navbar {
  border-bottom: 1px solid $light;
}

.jumbotron-custom {
  background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7)), image_url('hero-background.jpg');
  color: $brand-primary;
  padding: 200px 0;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.navbar-toggler {
  color: $brand-primary;
}

.header-brand {
  color: $blue;
}

.container__landing-page {
  padding: 60px 0;
  background-color: $orange;
  color: $light;
}
