/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Our custom color palette
$blue: #3C91E6;
$green: #9FD356;
$orange: #FA824C;
$dark: #342E37;
$light: #FAFFFD;

// Bootstrap overrides
$brand-primary: $orange;
$navbar-inverse-color: $brand-primary;

@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 54px;
  color: $dark;
}

// Helpers
.bg-custom {
  background-color: $dark;
}

.navbar {
  border-bottom: 1px solid $light;
}

.jumbotron-custom {
  background-image: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7)), image_url("hero-background.jpg");
  color: $brand-primary;
  padding: 200px 0;
  background-position: center;
  background-size: center;
}
