@import 'settings';

.event__banner {
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  overflow: hidden;
}

.event__banner-overlay {
  background: linear-gradient(rgba($dark, 0.5), rgba($dark, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event__name {
  color: #FFF;
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 36px;
  width: 100%;
}

.event__edit {
  font-size: 0.5em;
  color: $blue;
}

.currently-playing {
  &__song {
    padding: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  &__avatar {
    width: 100px;
    height: 100px;
  }

  &__header {
    color: $light;
  }

  &__details {
    color: $light;
  }
}

.currently-playing__details {
  display: block;
}
