@import 'settings';

.event__banner {
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  overflow: hidden;
}

.event__banner-overlay {
  background: linear-gradient(rgba($dark, 0.7), rgba($dark, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event__name {
  color: #FFF;
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 36px;
  width: 100%;
}

.event__edit {
  font-size: 0.5em;
  color: $blue;
}
