.songs-list__song-avatar {
  width: 70px;
  height: 70px;
}

.songs-list__song {
  margin-bottom: 10px;
  padding: 8px;

  &-super-vote {
    background-color: rgba($blue, 0.15);
    border-radius: 3px;
  }
}

.songs-list__song-details {
  display: block;
}

.songs-list__vote-container {
  text-align: center;
}

.songs-list__vote {
  border: 0;
  font-size: 32px;
  color: $blue;
  background: transparent;
  outline: none;
  transition: text-shadow 150ms ease;

  &:focus {
    outline: none;
  }

  &:hover {
    text-shadow: 0 0 8px $orange;
  }
}

.songs-list__super-vote {
  color: $blue;
  font-size: 14px;
  padding: 8px;
  border-top: 1px solid rgba($blue, 0.4);
  font-weight: bold;
}

.songs-list__super-vote-button {
  border: 0;
  background: transparent;
  color: $orange;
  cursor: pointer;
  padding: 0;
  margin: 4px 0;
  outline: 0;
}

.vote--upvoted {
  color: $green;
}

.vote--downvoted {
  color: $red;
}

.songs-list__score {
  font-size: 28px;
  color: $blue;

  &--positive {
    color: $green;
  }

  &--negative {
    color: $red;
  }
}

.search-results {
  position: absolute;
  background-color: darken(#fff, 5%);
  width: calc(100% - 30px);
  left: 15px;
  right: 15px;
  border-radius: 3px;
}

.search-results__song {
  cursor: pointer;
  font-size: 12px;
  padding: 6px 0;

  &:hover {
    background-color: darken(#fff, 15%);
  }
}

.search-results__song-art {
  vertical-align: top;
  display: inline-block;
  width: 40px;
}

.search-results__song-description {
  display: inline-block;
  width: calc(100% - 50px);
  padding-left: 4px;
}

.search-results__song-name {
  font-size: 14px;
  color: $blue;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results__song-details {
  display: inline-block;
  margin-right: 4px;
}

.search-results__close {
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}
