.songs-list__song-avatar {
  width: 70px;
  height: 70px;
}

.songs-list__song {
  margin-bottom: 10px;
}

.songs-list__song-subtitle {
  font-size: 0.6em;
}

.songs-list__song-details {
  display: block;
  color: $blue;
}

.search-result-title {
  font-weight: bold;
  margin-bottom: 0;
}

.search-result-artist {
  color: #757575;
}

.search-result-art {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.song-search-dropdown {
  min-width: 500px !important;
}
